.commentaries {
  &__author {
    font-size: 14px;
    color: rgb(70, 70, 70);
    font-style: italic;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 20px;
  }

  &__reply-button {
    background: none;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
  }
}
