<div class="header">
  <div class="header__container">
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__list-item">
          <a routerLink="/" class="header__list-link header__logo ">Hacker News</a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link">New</a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link">Past</a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link">Comments</a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link">Ask</a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link">Show</a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link">Jobs</a>
        </li>
        <li class="header__list-item">
          <a href="" class="header__list-link">Submit</a>
        </li>
      </ul>
    </nav>
    <div class="header__login">
      <a href="" class="header__list-link">Login</a>
    </div>
  </div>
</div>
