ol {
  margin-top: 0;
}

.posts-list {
  &__button {
    margin: 10px 20px;
    cursor: pointer;
    padding: 5px;
    background: #b4b4b4;
    border-radius: 10px;
    opacity: .7;
    transition: .2s all;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
