<div class="posts-list">
  <div class="wrapper">
    <div class="posts-list__container">
      <ol type="1" class="posts-list__items">
        <li *ngFor="let post of hits">
          <app-post
            [post]="post"
          >
          </app-post>
        </li>
      </ol>
      <button class="posts-list__button"
              *ngIf="isShow && !isLoading"
              (click)="showMore()"
      >
        ShowMore
      </button>
    </div>
    <ng-container *ngIf="isLoading">
      <ng-container *ngTemplateOutlet="loading"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <p class="preloader">
    Подождите, идет загрузка...
  </p>
</ng-template>
