@import "../../sevstar-tz/src/assets/styles/reset";

.wrapper {
  padding-bottom: 20px;
  max-width: 1000px;
  background: rgb(237, 235, 235);
  margin: 0 auto;
}

.preloader {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
}
